html{
    /*Esto es Reset para esl uso de Rems ejemplo 16px son ahora 1.6rem*/
    font-size: 62.5%; 
    box-sizing: border-box;
}
*,*::before , *::after{
    box-sizing: inherit;
}
body{
    font-size: 1.7rem;
}